{% load static %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}
 
   <div class="action">
      <h1 style="color: #39B54B;">ALL INVOICE DETAILS</h1>
      <a href="{% url 'sales:invoices' %}" class="text-success text-decoration-none"> < Back </a>
    </div>
    <div class="main_body">
      <table class="content-table">
        <thead>
          <tr>
            <th>Invoice no.</th>
            <th>Customer Name</th>
            <th>Created date</th>
            <th>Due date</th>
            <th>Email</th>
            <th>Billing address</th>
            <th>Status</th>
            <th>Operations</th>
            <th>Created_by</th>
            <th>Shipping address</th>
            <th>Terms</th>
            <th>Sales representative</th>
            <th>Class/Location</th>
            <th>Tags</th>
            <th>PO number</th>
            <th>Memo</th>
            <th>Customs notes</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>shipping fee</th>
            <th>Tax(18%)</th>
            <th>Discount</th>
            <th>Subtotal</th>
            <th>Total due</th>
          </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
          <tr>
            <td>{{ invoice.invoice_id }}</td>
            <td>{{ invoice.customer_id }} </td>
            <td>{{ invoice.invoice_date }}</td>
            <td>{{ invoice.due_date }}</td>
            <td>{{ invoice.email }}</td>
            <td>{{ invoice.billing_address }}</td>
            <td>{{ invoice.status }}</td>
            <td>Retire/inactive</td>
          <td>{{ sales.User }}</td>
          <td>{{ invoice.shipping_address }}</td>
          <td>{{ invoice.terms }}</td>
          <td>{{ invoice.sales_rep }}</td>
          <td>{{ invoice.location}}</td>
          <td>{{ invoice.tags }}</td>
          <td>{{ invoice.po_number }}</td>
          <td>{{ invoice.memo }}</td>
          <td>{{ invoice.customs_notes }}</td>
          <td>{{ invoice.product }}</td>
          <td>{{ invoice.quantity }}</td>
          <td>{{ invoice.price }}</td>
          <td>{{ invoice.shipping }}</td>
          <td>{{ invoice.tax }}</td>
          <td>{{ invoice.discount }}</td>
          <td>{{ invoice.subtotal }}</td>
          <td>{{ invoice.total_due}}</td>

          </tr>   
          {% empty %}    
                <tr>
      <td colspan="6">No invoices available.</td>
    </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'includes/footer.html' %}