{% load static %}
{% include 'includes/navbar.html' %}
<style>
      h1{
    color: rgb(7, 142, 36);
  }
    @media only screen and (max-width: 600px) {
  #action{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10%;
    justify-content: center;
  }
  #action button{
    display: flex;
  }
     #search{
    display: flex;
    width: 50%;
    margin-top: 0px;
  }
  h1{
    color: rgb(7, 142, 36);
    font-size: 20px;
  }
  h3{
    text-align: center;
    margin-top: 3%;
  }
  .button{
    width: 100px;
  }
  #body{
    padding: 15%;
    margin-left: -20%;
    margin-top: 70%;
    position: absolute;
  }
    #main{
    width: 100%;
    padding: 15%;
    margin-left: -5%;
    margin-top: -14%;
    
  }
  #tab{
    width: 100%;
  }
  #tab label{
    display: flex;
    flex-direction: row;
  }
  #sales-overview{
    width: 60%;
    padding: 1px 1px;
  }
  #salesOverview{
    width: 100%;
  }
  #sales-activities{
    width: 100%;
  }
  #income{
    margin-top: 2%;
  }
  #Overview{
display: block;
margin-right: 5%;
margin-left: 5%;
padding: 3%;
}
.all-sales{
  width: 50%;
}
}
</style>
{% include 'includes/sidebar.html' %}
    <div class="action" id="action">
      <h1>SALES</h1>
      <div class="search_bar" id="search">
        <input type="text" placeholder="Search Home" />
      </div>
      <div class="dropdown-wrapper">
        <button class="button">
          <span class="button_text">New Transactions</span>
          <span class="button_icon"><i class='bx bx-chevron-down'></i></span>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'sales:add-invoice' %}">Invoice</a>
          <a href="{% url 'sales:add-receipt' %}">Receipt</a>
          <a href="{% url 'sales:add-payments' %}">Receive payment</a>
        </div>
      </div>

      <a href="{% url 'sales:add-products' %}" style="text-decoration: none;">
        <button class="button" style="width: fit-content;">
        <span class="button_text">New Products/Services</span>
        <span class="button_icon">
          <i class='bx bx-folder-plus'></i>
        </span>
      </button>
      </a>
        <button class="button">
          <span class="button_text">CUSTOMIZE</span>
          <span class="button_icon">
            <i class='bx bxs-customize' ></i>
          </span>
        </button> 


    </div>
    <div class="main_body" id="body">
      <div class="tabs" id="tab">
        <input type="radio" class="tabs_radio" name="tabs-example" id="tab1" checked>
        <label for="tab1" class="tabs_label">Sales Overview</label>
          <div class="tab-content" id="sales-overview">
            <div class="sales-overview">
              <div id="Overview">          
                <div class="invoice" style="flex-direction: column;">
                 <h4> INVOICES </h4>
                 <div>{{ invoice_count }}</div>
                 <a href="{% url 'sales:invoices' %}" style="text-decoration: none; color: #fff;">Invoices available</a> 
                </div>
                <div class="income-overtime" id="income">INCOME OVERTIME</div>
                <div class="estimates" id="income">ESTIMATES</div>
              </div>
              <h3 class="" style="color: rgb(7, 142, 36);">ALL SALES</h3>
              <div class="main_body" id="main">
      <table class="content-table">
        <thead>
          <tr>
                      <th>PROFILE ICON</th>
                      <th>DATE</th>
                      <th>TYPE</th>
                      <th>NO.</th>
                      <th>CUSTOMER</th>
                      <th>MEMO</th>
                      <th>AMOUNT</th>
                      <th>STATUS</th>
                      <th>ACTIONS <i class='bx bxs-down-arrow' ></i></th>
                      <th>OPERATIONS</th>
                    </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
          <tr>
            <td>
            {%if employee.profile_picture %}
              <img src=" {{ employee.profile_picture.url }}" alt="picture" style="width: 40px; height: 40px; border-radius: 50%;">
              {% else %}
              <i class='bx bx-user-circle'></i>
              {% endif %}
            </td>
            <td>{{employee.id|stringformat:'03d'}}</td>
            <td>{{employee.first_name}} {{employee.last_name}} </td>
            <td>{{employee.phone_number}}</td>
            <td>{{employee.email_address}}</td>
            <td>{{employee.status}}</td>
            <td>
              <a href="{% url 'sowaf:edit-employee' employee.id %}" title="Edit" style="color:green;">
              <i class='bx bxs-edit'></i> 
              </a>
                <a href="{% url 'sowaf:delete-employee' employee.id %}" title="Delete" onclick="return confirm('Are you sure you want to delete this customer?');">
               <i class='bx bxs-trash' style="color:green; margin-left: 10px;"></i>
               </a>
            </i></td>
            <td>Retire/inactive</td>
          </tr>
          
           {% empty %}    
        <tr>
      <td colspan="6">No Sales available.</td>
    </tr>
    <tr>
      <td colspan="6">
      {% if messages %}
      {% for message in messages %}
        {% if messages.tags == 'error' %}
        <p style="color:green; text-align:center;">{{message}}</p>
        {% else %}
        <p style="color:green; text-align:center;">{{message}}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
      </td>
      
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
      <input type="radio" class="tabs_radio" name="tabs-example" id="tab2">
          <label for="tab2" class="tabs_label">Sales Activities</label>
           <div class="tab-content" id="sales-activities">
            <div class="sales-overview" id="salesOverview">
              <div id="Overview">
                <div class="customer">Customer</div>
                <div class="invoice">Invoice</div>
                <div class="recurring-invoice">Recurring invoice</div>
                <div class="sales-receipts">Sales Receipts</div>
                <div class="receive-payment">Receive payment</div>
                <div class="bank-deposit">Bank Deposit</div>
                <div class="create-statement">Create Statement</div>
              </div>
            </div>
          </div>
            <input type="radio" class="tabs_radio" name="tabs-example" id="tab3">
            <label for="tab3" class="tabs_label">Products and Services</label>
              <div class="tab-content">
                <table class="content-table">
                  <thead>
                    <tr>
                      <th>PROFILE ICON</th>
                      <th>NAME</th>
                      <th>SKU</th>
                      <th>TYPE</th>
                      <th>SALES DESCRIPTION</th>
                      <th>SALES PRICE</th>
                      <th>ACTIONS <i class='bx bxs-down-arrow' ></i></th>
                      <th>OPERATIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in products %}
                    <tr>
                      <td><i class='bx bx-user-circle'></i></td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.sku }}</td>
                      <td>{{ product.type }}</td>
                      <td>{{ product.description }}</td>
                      <td>{{ product.sales_price }}</td>
                      
                      <td>
                     <div class="dropdown">
                          <button class="dropbtn">Actions <i class='bx bx-chevron-down'></i></button>
                        <div class="dropdown-content">
                         <a href="{% url 'sales:add-invoice' %}product_id={{ product.id }}">Create Invoice</a>
      <!-- You can add more actions here -->
                    </div>
                       </div>
                   </td>
                    <span>
                 <a href="" title="Edit" style="color:green;">
              <i class='bx bxs-edit'></i> 
              </a>
                <a href="" title="Delete" onclick="return confirm('Are you sure you want to delete this customer?');">
               <i class='bx bxs-trash' style="color:green; margin-left: 10px;"></i>
               </a>
              </span>
                      </td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
      </div>
    </div>
 {% include 'includes/footer.html' %}
